<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a303com_laukuansin">

    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <application
        android:name=".cores.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo_no_til"
        android:label="@string/app_name"
        tools:replace="android:icon"
        android:roundIcon="@mipmap/logo_no_til"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.a303com_laukuansin.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <service android:name=".pedometer.SensorListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <receiver android:name=".broadcastReceiver.ReminderService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.HomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.LoginSignUpActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.PersonalInformationActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity><!-- windowSoftInputMode is for even keyboard pop out, the below layout still can show-->

        <activity android:name=".activities.MealActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity><!--single task: the activity will have only one instance in the system(singleton)-->

        <activity android:name=".activities.SearchMealActivity"
            android:label="Search food here"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.MealDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="Food Detail"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.BarcodeScannerActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.TrackWithImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="Track food with image">
        </activity>

        <activity android:name=".activities.CropImageActivity"
            android:screenOrientation="portrait"
            android:label="Crop Image">
        </activity>

        <activity android:name=".activities.ExerciseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.ExerciseListActivity"
            android:launchMode="singleTask"
            android:label="Exercise List"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.ExerciseDetailActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.WaterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.BodyWeightActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.BodyWeightDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:label="Change Password">
        </activity>

        <activity android:name=".activities.ServingUnitHelpActivity"
            android:screenOrientation="portrait"
            android:label="Serving Unit Help">
        </activity>

        <activity android:name=".activities.EditPersonalInformationActivity"
            android:screenOrientation="portrait"
            android:label="Personal Information"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name=".activities.ReminderActivity"
            android:screenOrientation="portrait"
            android:label="Reminders">
        </activity>

        <activity android:name=".activities.AchievementActivity"
            android:screenOrientation="portrait"
            android:label="Achievement">
        </activity>
    </application>
</manifest>